
<h1>Song Index</h1>

<%= link_to 'Create Song', new_song_path %><br>
<tbody>
<% @songs.each do |song| %>
    <tr><%= link_to "#{song.artist_name} - #{song.title}", song_path(song)%></tr><br>
<% end %> 
</tbody>